* {
    font-family: sans-serif;
    color: white;
  }

  body{
      background-color: black;
  }

header{
    background-color: aliceblue;
    display:block;
    text-align: center;
    padding-top: 10px;
    height: 150px;
    width: 100%;
    margin-bottom: 20px;
 }

 .heading_img{
    height: 100%;
}

.viewable, .js-quiz-form, .yayCorrect, .noWrong, .js-reset, .youWin, .youLoose{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.startimage{
    justify-content: center;
}

main{
    margin-bottom: 20px;
}

ul{
    margin-left: -40px;
    text-align: center;
}

.curscore{
    margin-left: 30px;
}

button, .nextButton, .resetButton{
    background-color: yellow;
    color: black;
    font-size: 35px;
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 35%;
  }

button:hover{
      background-color: white;
  }

.hp-question{
    text-align: center;
    width: 100%;
    font-size: 40px;
}

.yourScore{
    font-size: 30px;
}

.js-rest>.yourScoreFinal{
    font-size: 60px;
}

.textWelcome{
    font-size: 60px;
}

.right-answer {
    font-size: 50px;
}

.hp-options{
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.textWelcome, .looseText{
    text-align: center;
    font-size: 50px;
    }

.yourScore{
    text-align: center;
    font-size: 25px;
    margin-top: -5px;
    }

.yourScoreFinal{
    font-size: 35px;
    margin-bottom: -25px;
}

.spellcast, .wrongAnswer, .correctAnswer, .beatTR, .defeatedByLV, .wandBattle{
    width: 100%;
}

footer {
    margin-top: 50px;
    font-size: 12px;
    text-align: center;
}

@media (max-width: 600px) {


    button, .nextButton, .resetButton{
        width: 100%;
        font-size: 25px;
        border-radius: 0%;}

    header {
        display:block;
        text-align: center;
        padding-top: 10px;
        background-color: aliceblue;
        height: 100px;
        width: 100%;
        margin-bottom: 20px;
     }

     ul{
        margin-left: -40px;
        text-align: center;
    }

    .qands{
        font-size: 20px;
    }

    .textWelcome, .yourScore, .looseText, .yourScoreFinal{
    text-align: center;
    font-size: 30px;
    }

    .heading_img{
        height: 90%;
    }

    .wandBattle{
        width: 100%;
    }

    label.hp-question{
        display: block;
        width:100%;
        font-size: 40px;
        text-align: center;
    }

    .hp-options{
        font-size: 35px;
        margin-left: 10px;
        margin-top: 15px;
        margin-bottom: 30px;
    }

    .yourScore{
        text-align: center;
    }

    .nextButton, .resetButton{
        margin-bottom: 10px;
    }
}

@media (min-width: 600px){

    li {
        list-style: none;
        display: inline-block;
        font-size: 25px;
    }

}