* {
    box-sizing: border-box;
    font-family: sans-serif;
  }

body {
    display: flex;
    flex-direction: column;
    background-color: black;
}

  header {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 255, 234);
    height: 150px;
    width: 100%;
    line-height: 150px;
    vertical-align: center;
  }

.heading_img {
      height: 150px;
  }

h2 {
    text-align: center;
    font-size: 30px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 650px;
    background-color: black;
  }
  
.js-quiz-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
  }

  input {
      font-size: 25px;
      margin-left: 25px;
  }

.welcome {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.viewable{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hp-question{
    font-size: 30px;
    padding-bottom: 20px;
    width: 100%;
}

.spellcast {
    display: flex;
    width: 100%;
}    

.textWelcome{
    align-self: center;
    text-align: center;
    vertical-align: center;
    color: white;
    font-size: 30px;
    width: 100%;
}

button {
    margin-top: 30px;
    font-size: 15px;
    width: 200px;
    border-radius: 5%;
    height: 50px;
}

.opt {
    font-size: 25px;
}

.startQuiz {
    margin-bottom: 10px;
    align-self: center;
    font-size: 30px;
    border: 3px solid black;
    font-weight: bolder;
    background-color: yellow;
    height: 75px;
}
.startQuiz:hover{
    background-color: white;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

label {
    color: white;
    text-align: center;
    font-size: 50px;
}

.answerBut {
    margin-bottom: 10px;
    align-self: center;
    font-size: 30px;
    border: 3px solid black;
    font-weight: bolder;
    background-color: yellow;
    height: 75px;
}
.answerBut:hover{
    background-color: white;
}


.yayCorrect, .noWrong, .youLoose, .youWin, .battle{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.correctAnswer, .wrongAnswer, .youLoose, .youWin{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.yourScore{
    text-align: center;
    margin-top: -15px;
    color:white;
    font-size: 20px;
}


.looseText{
    text-align: center;
    margin-top: -15px;
    color:white;
    font-size: 30px;
}

.nextButton, .resetButton {
    margin-bottom: 50px;
    align-self: center;
    font-size: 30px;
    border: 3px solid black;
    font-weight: bolder;
    background-color: yellow;
    height: 75px;
}
.nextButton:hover{
    background-color: white;
}

.resetButton:hover{
    background-color: white;
}

.js-QuestionAndScore{
    height: 50px;
    font-size: 20px;
    color:white;
    text-align: center;
    width: 50%;
}

.qands{
    margin-top: auto;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style: none;
    width: 50%;
}

.js-reset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    width: 100%;
    height: 50px;
    font-size: 20px;
  }

@media (max-width: 600px) {

    .hp-options{
        margin-left: auto;
        margin-right: auto;
    }

    .qands{
        margin-top: auto;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
    }
    
    li {
        width: 100%;
        text-align: center;
    }

    button {
        width: 100%;
        border-radius: 0%;}

    header {
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(8, 255, 234);
        height: 150px;
        width: 100%;
     }
    #hp-question{
        font-size: 30px;
        width: 75%;
    }
}
